.dropdown {
/* float: left;
overflow: hidden; */
}

.dropdown .drop-btn {
    cursor: pointer;
    font-size: inherit;  
    border: none;
    outline: none;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #232323;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content div {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content div:hover {
    background-color: #424242;
}

.show {
    display: block;
}
