.search-box {
    display: flex;
    justify-content: center;
    height: 30%;
    align-items: center;
}

.search-box > div {
    width: 80%;
    display: flex;
    flex-direction: row;
}

/* TODO: move to app.css */
.search-input {
    width: 673px;
    height: 57px;
    background-color: #232323;
    opacity: 0.75;
    border-radius: 4px;
    color: #FFF;
    padding: 0 20px;
    margin-right: 10px;
    border: none;
    font-size: 20px;
}

.btn-search {
    margin-left: 10px;
    width: 14em;
}
